{% include 'adminheader.html' %}
<br>
            <div class="ho">
            	<center>
                    <br><br><br><br>
                <h2 style="font-size: 130px;margin-top: -20px">WELCOME </h2>
                <!-- p>Your clients on the internet. Learn how to receive them.</p>
                <a href="#" class="btn btn-border">Learn more</a> -->
            
    </div><!-- /.hero -->

   
{% include 'footer.html' %}
<style type="text/css">
    div.ho{
background-image: url("/static/assets/img/w.jpg");
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    }
</style>