{% include 'publicheader.html' %}
            <div class="wel">
            	<center>
                    <br><br><br><br><br><br><br>
                    <br><br><br><br><br>
                <h1 style="font-size: 100px;margin-top: -20px"> ASHA WORKER</h1>
                <br>
                <!-- <p style="font-size: 30px;margin-top: -20px">Your clients on the internet. Learn how to receive them.</p> -->
                <br>
                <a href="login" class="btn btn-success">Learn more</a>
            
    </div><!-- /.hero -->


       
{% include 'footer.html' %}

<style type="text/css">
    div.wel{
        background-image: url('/static/assets/img/medical.jpg');
        height:100%;
        width:100%;
        display: table;
        position: relative;
    }
</style>